{% extends 'base.html.twig' %}

{% block title %}Settings page{% endblock %}

{% block body %}
    {#MODAL DIALOG#}
    <script type="text/x-template" id="modal-template">
        <transition name="modal">
            <div class="modal-mask">
                <div class="modal-wrapper">
                    <div class="modal-container">
                        <div class="modal-body">
                            <slot name="body">
                                The privileges have been changed
                            </slot>
                        </div>

                        <div class="modal-footer">
                            <slot name="footer">
                                <button class="modal-default-button btn btn-success" @click="$emit('close')">OK</button>
                            </slot>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </script>

    <div id="modal-app">
        <modal v-if="showModal" @close="showModal = false">
        </modal>
    </div>
    {#END OF MODAL DIALOG#}

    <div id="settings" class="container">
        <div class="row settings-filter">
            <div class="col-xs-6 col-sm-6">
                <p>Search by username</p>
                <input v-model="search" class="form-control" placeholder="Filter users by username">
            </div>

            <div class="col-xs-6 col-sm-6">
                <p>Search by privilegy</p>
                <select v-model="privilegy" class="form-control">
                    <option value="all" selected>ALL</option>
                    <option value="delete">DELETE</option>
                    <option value="edit">EDIT</option>
                    <option value="read">READ</option>
                </select>
            </div>
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Username</th>
                <th>Privileges</th>
            </tr>
            </thead>

            <tbody>
            <template v-for="user in filteredItems">
                <tr>
                    <td>{% raw %}{{user.name}}{% endraw %}</td>
                    <td>
                        <input type="radio" value="edit" v-model="user.privilegy" v-on:change="changePrivilegy(user)"/> EDIT
                        <input type="radio" value="delete" v-model="user.privilegy"
                               v-on:change="changePrivilegy(user)"/> DELETE
                        <input type="radio" value="read" v-model="user.privilegy" v-on:change="changePrivilegy(user)"/> READ
                </tr>
            </template>
            </tbody>
        </table>

        <button class="btn btn-primary" v-on:click="savePrivileges()">Save privileges</button>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">

        Vue.component('modal', {
            template: '#modal-template'
        });

        var modal = new Vue({
            el: '#modal-app',
            data: {
                showModal: false
            }
        })

        new Vue({
            el: '#settings',
            mounted: function () {
                this.$http.get("{{ path('get_all_users') }}").then(function (response) {
                    this.users = response.body;

                });
            },
            data: {
                search: '',
                privilegy: 'all',
                users: [],
                changedUsers: {}
            },
            computed: {
                filteredItems() {
                    var self = this;
                    return this.users.filter(function (item) {
                        if (self.privilegy == 'all') {
                            return item.name.toLowerCase().indexOf(self.search.toLowerCase()) > -1;
                        }
                        return item.name.toLowerCase().indexOf(self.search.toLowerCase()) > -1 && item.privilegy == self.privilegy;
                    })
                }
            },
            methods: {
                savePrivileges() {
                    this.$http.post("{{ path('save_privileges') }}", this.changedUsers, {
                                headers: {
                                    'Content-Type': 'application/json'
                                }
                            }
                    ).then(function (response) {
                                if (response.status == 200) {
                                    modal.showModal = true;
                                }

                                this.changedUsers = {};
                            }
                    );
                },
                changePrivilegy(user) {
                    this.changedUsers[user.name] = user.privilegy;
                }
            }
        });

    </script>
{% endblock %}